.app-container {
  display: flex;
  height: 100vh;
  background-color: #f7f7f7;
}

.left-sidebar {
  width: 20%;
  padding: 20px;
  background-color: #eaeaea;
}

.task-container {
  width: 60%;
  padding: 20px;
}

.right-sidebar {
  width: 20%;
  padding: 20px;
  background-color: #eaeaea;
}
