.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    position: relative;
    bottom: 25px;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
}

.user-profile>p{
    margin: 0px;
}
